# Flutter
**/build/
**/ios/Flutter/App.framework
**/.dart_tool/
**/.idea/
**/.packages
**/pubspec.lock
**/android/.gradle/
**/android/app/google-services.json
**/android/local.properties
**/android/key.properties
**/ios/Runner/GoogleService-Info.plist
**/.vscode/

# Files created by the IDE
*.iml
.idea/
.vscode/

# Misc
.DS_Store
*.class
*.log

